* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: white;
  }
  
  .container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .slider-section {
    width: 75%;
    display: flex;
  }
  
  .slick-slider {
    width: 100%;
    padding-left: 100px;
  }
  
  .slick-prev, .slick-next {
    display: none !important;
  }
  
  .slick-dots {
    left: 0;
    text-align: left;
    padding-left: 100px;
  }
  
  .content-section {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .icon img {
    width: 350px;
    height: 200px;
  }
  
  .slogan {
    font-size: 24px;
    color: #333;
  }
  
  .cta-button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #cc0000;
  }
  